.products{
    &__box{
        // display:none;
        // width:30%;
        // height:300px;
        // background-color:black;

        @include box(300px, 300px, aqua, display, flex);
    }
}

@media only screen and (min-width: 480px){
    .products{
        &__box{
            // display:flex;
            // width: 100px;
            // height:100px;
            // background-color: rgb(255, 5, 5);

            @include box(100px, 100px, red, display, flex);
        }
    }
}

@media (min-width: 480px) and (max-width: 768px){
    .products{
        &__box{
            // display:flex;
            // width: 300px;
            // height:300px;
            // background-color: green;

            @include box(300px, 300px, green, display, flex);
        }
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px){
    .products{
        &__box{
            // display:flex;
            // width: 100%;
            // height:500px;
            // background-color:black;

            @include box(500px, 500px, black, display, flex);
        }
    }
}

@media only screen and (min-width: 1025px){
    .products{
        &__box{
            // display:flex;
            // width: 100%;
            // height:1000px;
            // background-color:blue;

            @include box(100%, 1000px, rgb(199, 250, 16), display, none);
        }
    }
}